*{
  box-sizing:border-box;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;
  color: yellow;
}

.fondo {
  background-image: url(../assets/nonas.jfif);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50vh;
}

.audio { 
  width: 100%;
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 90px;
  transform: scale(1.05);
}

.pacman {
  position: relative;
  animation: pacman 10s infinite;
}

p{
  text-align: center;
}

@keyframes pacman {
  0%, 21%  {top: 240px; left: 120px; rotate:0deg; background-color: rgb(45, 192, 26);}
  28% {top: 160px; left: 120px; rotate: -90deg; background-color: blue;}
  34% {top: 160px; left: 200px; rotate: 0deg; background-color: rgb(192, 26, 26);}
  40% {top: 195px; left: 203px; background-color: white;}
  45% {top: 195px; left: 318px; rotate: -90deg; background-color: royalblue;}
  50% {top: 156px; left: 318px; rotate: 0deg;  background-color: rosybrown;}
  55% {top: 156px; left: 353px; rotate: -90deg; background-color: rebeccapurple;}
  60% {top: 120px; left: 356px; rotate: 0deg; background-color: teal;}
  66% {top: 120px; left: 475px; rotate: 0deg; background-color: tomato;}
  72% {top: 155px; left: 475px; rotate: 0deg; background-color: yellow;}
  78% {top: 155px; left: 515px; rotate: -90deg; background-color: orangered;}
  82% {top: 195px; left: 515px; rotate: 0deg; background-color: orchid;}
  88% {top: 195px; left: 630px; rotate: 0deg; background-color: olive;}
  96% {top: 155px; left: 630px; rotate: 0deg; background-color: aqua;}
  97% {top: 155px; left: 710px; rotate: 0px; background-color: salmon;}
  100% {top: 240px; left: 710px; rotate: 0px; background-color: fuchsia;}
}

/*Telefono movil desgraciade*/
@media screen and (min-width:570px) and (max-width:576px) {

    body {
    background-color: #ce20d1;
    }

    .alturapacman {
        width: 20px;
        height: 20px;
    }

  @keyframes pacman {
    0% {top:160px; left:68px; background-color: #20a5d1;}
    5% {top:82px; left:68px; background-color: #d12020;}
    10% {top:82px; left:120px; background-color: #5ed120;}
    15% {top:187px; left:120px; background-color: #d12087;}
    20% {top:187px; left:200px; background-color: #2920d1;}
    25% {top:165px; left:152px; background-color: #d1cb20;}
    30% {top:165px; left:174px; background-color: #32d120;}
    35% {top:187px; left:174px; background-color: #d16d20;}
    40% {top:187px; left:236px; background-color: #f700ff;}
    45% {top:165px; left:236px; background-color: #497483;}
    50% {top:165px; left:258px; background-color: #20a5d1;}
    55% {top:145px; left:258px; background-color: #431313;}
    60% {top:145px; left:320px; background-color: #000000;}
    65% {top:60px; left:320px; background-color: #ffffff;}
    70% {top:60px; left:363px; background-color: #9d42b9;}
    75% {top:120px; left:363px; background-color: #695a70;}
}
}

@media screen and (min-width: 577px) and (max-width: 579px) {

  body {
    background-color: #20a5d1;
    }
  
    .alturapacman {
        width:20px;
        height:20px;
    }

  @keyframes pacman {
    0% {top:120px; left:50px}
    5% {top:61px; left:50px}
    10% {top:61px; left:92px}
    15% {top:147px; left:92px}
    20% {top:147px; left:155px}
    25% {top:167px; left:155px}
    30% {top:167px; left:175px}
    35% {top:188px; left:175px}
    40% {top:188px; left:238px}
    45% {top:165px; left:238px}
    50% {top:165px; left:260px}
    55% {top:145px; left:260px}
    60% {top:145px; left:322px}
    65% {top:62px; left:322px}
    70% {top:62px; left:365px}
    75% {top:120px; left:365px}
}
}

@media screen and (min-width:480px) and (max-width: 483px) {

  body {
    background-color: red;
    }
  
    .alturapacman {
        width: 19px;
        height: 19px;
    }

  @keyframes pacman {
    0% {top:120px; left:51px}
    5% {top:63px; left:51px}
    10% {top:63px; left:94px}
    15% {top:148px; left:94px}
    20% {top:148px; left:157px}
    25% {top:170px; left:157px}
    30% {top:170px; left:179px}
    35% {top:190px; left:179px}
    40% {top:190px; left:241px}
    45% {top:167px; left:241px}
    50% {top:167px; left:262px}
    55% {top:146px; left:262px}
    60% {top:146px; left:325px}
    65% {top:62px; left:325px}
    70% {top:62px; left:370px}
    75% {top:120px; left:370px}
}
}

@media screen and (min-width:464px) and (max-width: 470px) {

  body {
    background-color: rgb(89, 255, 0);
    }
  
    .alturapacman {
        width: 19px;
        height: 19px;
    }

  @keyframes pacman {
    0% {top:120px; left:51px; background-color: #20a5d1;}
    5% {top:63px; left:51px; background-color: #ce20d1;}
    10% {top:63px; left:94px;}
    15% {top:150px; left:94px; background-color: aqua;}
    20% {top:160px; left:158px; background-color: rgb(255, 0, 0);}
    25% {top:170px; left:158px; background-color: rgb(255, 166, 0);}
    30% {top:170px; left:177px; background-color: rgb(106, 255, 0);}
    35% {top:195px; left:177px; background-color: rgb(0, 153, 255);}
    40% {top:195px; left:245px; background-color: rgb(0, 4, 255);}
    45% {top:170px; left:245px; background-color: rgb(85, 0, 255);}
    50% {top:170px; left:270px; background-color: rgb(217, 0, 255);}
    55% {top:150px; left:265px; background-color:darkgrey}
    60% {top:150px; left:330px; background-color: rgb(255, 0, 81);}
    65% {top:62px; left:330px; background-color: pink}
    70% {top:62px; left:373px; background-color: orange}
    75% {top:120px; left:373px; background-color: olivedrab}
}
}